{% extends 'base.html' %}

{% block content %}
<div class = "container m-4">

  {% if task_obj.owner == request.user %}

  <form method = "POST" class = "row">

      
      {% csrf_token %}
      <label class = "col-lg-4"></label>
      <input type="text" class="form-control col-lg-6 " name = "task" placeholder = "Edit Task" value = "{{task_obj.task}}">
      <button type="submit" class="btn btn-primary col-lg-2">Update</button>
      

    </form>

  {% else %}

  <p>Access Restricted, You aren't allowed!</p>

  {% endif %}

</div>
{% endblock content %}